.initialize {
  .screen__footer {
    opacity: 1;
    transform: translate(0);
  }

  .page-header__logo {
    opacity: 1;
    transform: translate(0);
  }

  .page-header__nav {
    opacity: 1;
  }

  .page-header__menu {
    .active {
      &::after {
        width: 100%;
      }
    }
  }

  .social-block__toggler {
    &::before {
      animation: social-block__toggler 1s linear 0.5s;
    }
  }
}
