.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.background-iamge {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity: 0;
}

.flamingo {
  background-image: url("../img/module-2/win-suitcase/flamingo.png");
  width: 23rem;
  height: 23rem;
  bottom: 11rem;
  right: 68rem;
  transform-origin: 50% 75%;
  animation: flamingo 5s ease forwards 300ms;
}

.suitcase {
  background-image: url("../img/module-2/win-suitcase/suitcase.png");
  width: 32rem;
  height: 30rem;
  bottom: 12rem;
  right: 57rem;
  animation: suitcase 500ms ease-in forwards 300ms;
}

.green-leaf {
  background-image: url("../img/module-2/win-suitcase/leaf green.png");
  background-position: 50% 50%;
  width: 30rem;
  height: 20rem;
  bottom: 9rem;
  right: 41rem;
  transform-origin: 0% 50%;
  animation: greenLeaf 2s ease forwards 1000ms;
}

.blue-leaf-left {
  background-image: url("../img/module-2/win-suitcase/leaf blue 2.png");
  background-position: 50% 50%;
  width: 25rem;
  height: 25rem;
  bottom: 8rem;
  right: 76rem;
  transform-origin: 100% 50%;
  animation: blueLeafLeft 2s ease forwards 800ms;
}

.blue-leaf-right {
  background-image: url("../img/module-2/win-suitcase/leaf blue 1.png");
  background-position: 50% 50%;
  width: 27rem;
  height: 25rem;
  bottom: 17rem;
  right: 44rem;
  transform-origin: 0% 50%;
  animation: blueLeafRight 2s ease forwards 900ms;
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;
  animation: fadeIn ease-in 1s;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;
    animation: rollingBtnRight 1s forwards;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;

  .btn::before {
    opacity: 0;
    animation: fadeIn 0.5s forwards 0.5s;
  }

  span {
    opacity: 0;
    animation: fadeIn 0.5s forwards 1.3s;
  }

  ::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.35s ease-in-out;
  }
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}
